{% extends 'base.html.twig' %}

{% block title %}{{ edit? 'Modifier':'Créer' }} un evenement - {{ parent() }}{% endblock %}

{% block body %}
    <h2>{{ edit? 'Modifier un ':'Creer un nouvel' }} evenement</h2>
    <div><label for="school_name">Ecole de rattachement</label>
        <p id="school_name">{{ app.user.user.school.name }}</p></div>
    {{ form_start(form) }}
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.dateStart) }}
    {{ form_row(form.dateFinish) }}
    {{ form_row(form.peopleMax) }}
    {{ form_row(form.description) }}
    {{ form_row(form.location) }}
    <div id="loc_create">(+)</div>
    {{ form_row(form.dateLimit) }}
    <button>{{ edit? 'Appliquer':'Créer' }}</button>
    {{ form_end(form) }}
    <form>
        <input type="button" value="Annuler" onclick="history.go(-1)">
    </form>
    <div id="hidden">{{ path('location_create') }}</div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('JS/addNewLocation.js') }}"></script>
{% endblock %}