{% extends 'base.html.twig' %}

{% block title %}{{ event.name }} - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="center">
            <h2>Vous souhaitez annuler l'évènement: " {{ event.name }} "</h2>
            <p> Qui devait débuter le {{ event.dateStart.format('d/m/Y H:i') }}</p>
        </div>

        <div class="format">
            <div class="champForm">
                {{ form_start(delete_form) }}
            </div>

            <div class="champForm">
                {{ form_widget(delete_form) }}
            </div>

            <div class="center">
                <button class="button is-danger is-light">Archiver</button>
                {{ form_end(delete_form) }}
                <br>
                <a class="button is-link is-light" href="{{ path('home_index') }}">Retour à L'accueil</a>
            </div>

        </div>
    </div>

{% endblock %