    {% extends 'base.html.twig' %}

{% block title %}Evenements - {{ parent() }}{% endblock %}

{% block body %}

    <div class="container">
        <h2>Evenements :</h2>
        <a href={{ path('event_create') }}>Nouveau Event</a><br>
        <table>
            <tr>
                <th>nom</th>
                <th>debut</th>
                <th>clôture</th>
                <th>places</th>
                <th>etat</th>
                <th>organisateur</th>
                <th>actions</th>
            </tr>
        {% for event in events %}
            <tr>
                {# <div class="{{ wish.category.iconame }}"></div> #}
                <td><a href="{{ path('event_show', {'id': event.id}) }}">{{ event.name }}</a></td>
                <td>{{ event.dateStart.format('d/m/Y H:i') }}</td>
                <td>{{ event.dateLimit.format('d/m/Y H:i') }}</td>
                <td>{{ event.peopleMax }}</td>
                <td> //TODO etat </td>
                <td>{{ event.organizer.pseudo }}</td>
                <td><a href={{ path('event_edit', {'id': event.id}) }}>Modifier</a>
                    <a href={{ path('event_remove',{'id':event.id}) }}>Supprimer</a>
                    <a href="{{ path('event_apply',{'id':event.id}) }}">Participer</a>
                </td>

            </tr>
        {% endfor %}
        </table>
    </div>
{% endblock %}
