    {% extends 'base.html.twig' %}

{% block title %}Evenements - {{ parent() }}{% endblock %}

{% block body %}

    <div class="container">
        <h2>Evenements :</h2>
        <a href={{ path('event_create') }}>Nouveau Event</a><br>
        <table>
            <tr>
                <th>nom</th>
                <th>debut</th>
                <th>clôture</th>
                <th>places</th>
                <th>etat</th>
                <th>organisateur</th>
                <th>actions</th>
            </tr>
        {% for event in events %}
            {# % if (is_granted('ROLE_ADMIN') || event.organizer == app.user.userIdentifier || event.published) %} #}
            <tr>
                {# <div class="{{ wish.category.iconame }}"></div> #}
                <td><a href="{{ path('event_show', {'id': event.id}) }}">{{ event.name }}</a></td>
                <td>{{ event.dateStart.format('d/m/Y H:i') }}</td>
                <td>{{ event.dateLimit.format('d/m/Y H:i') }}</td>
                {% set usercount = 0 %}
                {% for user in event.users %}
                    {% set usercount = usercount + 1 %}
                {% endfor %}
                <td>{{ event.peopleMax-usercount }} places dispo ( {{ usercount }} / {{ event.peopleMax }} )</td>
                <td>{{ event.state }}</td>
                <td>{{ event.organizer.pseudo }}</td>
                <td><a href={{ path('event_edit', {'id': event.id}) }}>Modifier</a>
                    <a href={{ path('event_remove',{'id':event.id}) }}>Supprimer</a>
                    <a href="{{ path('event_apply',{'id':event.id}) }}">Participer</a>
                    <a href="{{ path('event_publish',{'id':event.id}) }}">Publier</a>
                </td>

            </tr>
    {# {% endif %}#}
        {% endfor %}
        </table>
    </div>
{% endblock %}
