{% extends 'base.html.twig' %}

{% block title %}Evenements - {{ parent() }}{% endblock %}

{% block body %}

    <div class="container">
        <h2>Evenements :</h2>
        <a href={{ path('event_create') }}>Nouveau Event</a><br>
        <table>
            <tr>
                <th>nom</th>
                <th>debut</th>
                <th>clôture</th>
                <th>participants</th>
                <th>etat</th>
                <th>organisateur</th>
                <th>actions</th>
            </tr>
            {% set nbresult = 0 %}
            {% for event in events %}
                {% if (is_granted('ROLE_ADMIN') or event.organizer == app.user or event.published) %}
                    {% set nbresult = nbresult + 1 %}
                    <tr>
                        {# TODO Afficher une icone en fonction du type d'event #}
                        <td><a href="{{ path('event_show', {'id': event.id}) }}">{{ event.name }}</a></td>
                        <td>{{ event.dateStart.format('d/m/Y H:i') }}</td>
                        <td>{{ event.dateLimit.format('d/m/Y H:i') }}</td>
                        <td>{% if event.room %}
                                {{ event.users.count }} / {{ event.peopleMax }} ( {{ event.room }} places dispo )
                            {% else %}
                                {{ event.users.count }} (Pas de limite)
                            {% endif %}
                        </td>
                        <td>{{ event.state }}</td>
                        <td>{{ event.organizer.pseudo }}</td>
                        <td>
                            {% if event.state != 'CLOSED' or is_granted('ROLE_ADMIN') %}
                                {% if (is_granted('ROLE_ADMIN') or event.organizer == app.user) %}
                                    <a href={{ path('event_edit', {'id': event.id}) }}>Modifier</a>
                                    <a href={{ path('event_remove',{'id':event.id}) }}>Supprimer</a>
                                {% endif %}
                                <a href="{{ path('event_apply',{'id':event.id}) }}">{{ (app.user in event.users)? 'Ne plus participer':'Participer' }}</a>
                                {% if (event.state == 'UNPUBLISHED') %}
                                    <a href="{{ path('event_publish',{'id':event.id}) }}">Publier</a>
                                {% endif %}
                            {% endif %}
                        </td>

                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        <p>Résultats : {{ nbresult }}</p>
    </div>
{% endblock %}
