{% extends 'base.html.twig' %}

{% block title %}Evenements - {{ parent() }}{% endblock %}

{% block body %}

    <div class="container">
        <h2>Evenements :</h2>
        <a href={{ path('event_create') }}>Nouveau Event</a><br>
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.dateMin) }}
        {{ form_row(form.dateMax) }}
        {{ form_row((form.school)) }}
        {{ form_row((form.organizer)) }}
        <button>Filtrer</button>
        {{ form_end(form) }}
        <table>
            <tr>
                <th>Quoi? (par qui?)</th>
                <th>Où ?</th>
                <th>De quand à quand ?</th>
                <th>Combien viennent?</th>
                <th>etat</th>
                <th>actions</th>
            </tr>
            {% set nbresult = 0 %}
            {% for event in events %}
                {% if (is_granted('ROLE_ADMIN') or event.organizer == app.user or event.published) %}
                    {% set nbresult = nbresult + 1 %}
                    <tr>
                        {# TODO Afficher une icone en fonction du type d'event #}
                        <td><p><a href="{{ path('event_show', {'id': event.id}) }}">{{ event.name }}</a></p>
                            <p> par <a href="{{ path('user_show', {'id': event.organizer.id}) }}">{{ event.organizer.pseudo }}</a></p>
                        </td>
                        <td><a href="{{ path('location_show', {'id': event.location.id}) }}">{{ event.location.name }}</a>
                            <a target="_blank"  href="https://www.google.fr/maps?q={{ event.location.latitude }},{{ event.location.longitude }}">Voir sur la carte</a>
                            {% if app.user %}
                            <p>A vol d'oiseau : {{ event.location.distanceFrom(app.user.school) }} Km</p>
                            {% endif %}
                        </td>
                        <td><p>{{ event.dateStart.format('d/m/Y H:i') }}</p> à <p>{{ event.dateFinish.format('d/m/Y H:i') }}</p></td>

                        <td>{% if event.room %}
                                {{ event.users.count }} / {{ event.peopleMax }} ( {{ event.room }} places dispo )
                            {% else %}
                                {{ event.users.count }} (Pas de limite)
                            {% endif %}
                        </td>
                        <td>{{ event.state }}</td>
                        <td>
                            {% if event.state != 'CLOSED' or is_granted('ROLE_ADMIN') %}
                                {% if (is_granted('ROLE_ADMIN') or event.organizer == app.user) %}
                                    <a href={{ path('event_edit', {'id': event.id}) }}>Modifier</a>
                                    <a href={{ path('event_remove',{'id':event.id}) }}>Supprimer</a>
                                {% endif %}
                                <a href="{{ path('event_apply',{'id':event.id}) }}">{{ (app.user in event.users)? 'Ne plus participer':'Participer' }}</a>
                                {% if (event.state == 'UNPUBLISHED') %}
                                    <a href="{{ path('event_publish',{'id':event.id}) }}">Publier</a>
                                {% endif %}
                            {% endif %}
                        </td>

                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        <p>Résultats : {{ nbresult }}</p>
    </div>
{% endblock %}
