{% extends 'base.html.twig' %}

{% block title %}{{ event.name }} - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <h2>Evenement {{ event.name }}</h2>
        <div>nom : {{ event.name }}</div>
        <div>debut : {{ event.dateStart.format('d/m/Y H:i') }}</div>
        <div>fin : {{ event.dateFinish.format('d/m/Y H:i') }}</div>
        <div>clôture : {{ event.dateLimit.format('d/m/Y H:i') }}</div>
        <div>places : {{ event.peopleMax }}</div>
        <div>etat : //TODO etat</div>
        <div>organisateur : {{ event.organizer.pseudo }}</div>
        <div> Participants</div>
        {% for user in event.users %}
            <p>{{ user.pseudo }}</p>
        {% endfor %}

    </div>
    <a href="{{ path('home_index') }}">Retour à L'accueil</a>
{% endblock %}