{% extends 'base.html.twig' %}

{% block title %}Connexion - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h1><strong>Se Connecter</strong></h1>
    <label for="inputEmail"><strong>E-mail</strong></label>:
    <input type="text" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="username" required autofocus>

    <label for="inputPassword"><strong>Mot de passe</strong></label>:
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
    <a class="glowing-btn glowing-txt" href="{{ path('app_check_email') }}">Mot de passe oublié</a>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

        <div class="btn-container">
            <label>
                <input type="checkbox" class="toggle">
                <h1><strong>Se Souvenir de Moi</strong></h1>
            </label>
        </div>

    <button style="display: contents"
            class="glowing-btn glowing-txt" type="submit">
        Entrer
    </button>

</form>
    </div>
{% endblock %}
