{% extends 'base.html.twig' %}

{% block title %}Lieux de Sortie - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <h2>Lieux de sortie :</h2>
        <a href={{ path('location_create') }}>Nouveau Lieu</a><br>
        <table>
            <tr>
                <th>nom</th>
                <th>adresse</th>
                <th>code postal</th>
                <th>ville</th>
                <th>coordonnées</th>
                <th>actions</th>
            </tr>
            {% for location in locations %}
                <tr>
                    {# <div class="{{ wish.category.iconame }}"></div> #}
                    <td><a href="{{ path('location_showOne', {'id': location.id}) }}">{{ location.name }}</a></td>
                    <td>{{ location.adress }}</td>
                    <td>{{ location.postcode }}</td>
                    <td>{{ location.city }}</td>
                    <td>{{ location.latitude }}N ; {{ location.longitude }}W</td>
                    <td><a href={{ path('location_edit', {'id': location.id}) }}>Modifier</a>&nbsp&nbsp&nbsp<a href={{ path('location_remove',{'id':location.id}) }}>Supprimer</a></td>

                </tr>
            {% endfor %}
        </table>
    </div>
    <input type="button" value="Retour" onclick="history.go(-1)">
{% endblock %}
