{% extends 'base.html.twig' %}
{% block title %}{{ modify? 'Modifier' :'Ajouter ' }} un site - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <h2>{{ modify? 'Modifier ' :'Ajouter ' }}un site de rattachement</h2>
        {{ form_start(schoolForm) }}
        <p>Nom du site : {{ form_widget(schoolForm.name) }}</p>
        <p>Latitude : {{ form_widget(schoolForm.latitude) }}</p>
        <p>Longitude : {{ form_widget(schoolForm.longitude) }}</p>
        <br>
        <button class="glowing-btn glowing-txt to-left">{% if (modify) %} Enregistrer la modification {% else %} Enregistrer {% endif %}</button>
        {{ form_end(schoolForm) }}
    </div>
{% endblock %}

