{% extends 'base.html.twig' %}

{% block body %}
    <h2>Gérer les sites</h2>
    <div><a href={{ path('school_create') }}>Ajouter un site</a></div>
    <h3>Filtrer les sites</h3>
    <p>Le nom contient : <input type="text">
        <button>Rechercher</button>
        <br>
    </p>
    <table>
        <tr>
            <th>Ville</th>
            <th>Action</th>

        </tr>
        {% for school in schools %}
            <tr>
                {# <div class="{{ wish.category.iconame }}"></div> #}
                <td>{{ school.name }}</td>
                <td><a href={{ path('school_delete',{'id':school.id}) }}>Supprimer | </a> <a
                            href={{ path('school_modify',{'id':school.id}) }}>Modifier</a></td>
            </tr>


        {% endfor %}
        {# <td><label for="name">Saisir un nouveau site:</label>
            <input type="text" id="name" name="name" required
                   minlength="1" maxlength="30" size="30"></td> #}

        {#  {{ form_start(schoolForm) }}
        <p>Saisir un nouveau site:{{ form_widget(schoolForm.name) }}</p>
        {{ form_end(schoolForm) }} #}
        <td>
            <form action={{ path('school_createwithname') }} method="GET" name="Formulaire">
                 Saisir un nouveau site: <input name="NomSchool" type="text" id="NomSchool" size="30">
                <input type="submit" value="Envoyer">
            </form>
        </td>



        <td><a href="{{ path('school_create') }}">Ajouter un site</a></td>
    </table>
{% endblock %}

{% block title %}

{% endblock %}

