{% extends 'base.html.twig' %}
{% block title %}Liste des sites - {{ parent() }}{% endblock %}
{% block body %}
    <div class="container">
    <h2>Gérer les sites</h2>
    <h3>Filtrer les sites</h3>
    <form action={{ path('school_index') }} method="GET" name="Formulaire">
        Le nom contient: <input name="Research" type="text" id="Research" size="30" >
        <input type="submit" value="Rechercher">
    </form>
    <br>
    {%  if(saisie) %}
        <p>Vous avez cherché {{ saisie }}</p>
    {% endif %}

    <p>Sites de rattachement : </p>
    {% for school in schools %} <br>
        <div>
        {{ school.name }}
        <a class="button is-primary is-outlined" target="_blank"  href="https://www.google.fr/maps?q={{ school.latitude }},{{ school.longitude }}">Voir sur la carte</a>
        <a class="button is-danger is-outlined" href={{ path('school_delete',{'id':school.id}) }}>Supprimer</a>
        <a class="button is-warning is-outlined" href={{ path('school_modify',{'id':school.id}) }}>Modifier</a>
        </div>

    {% endfor %}
    <td>
        <br>
        <form action={{ path('school_createwithname') }} method="GET" name="Formulaire">
            Saisir un nouveau site: <input name="NomSchool" type="text" id="NomSchool" size="30">
            <input type="submit" value="Envoyer">
        </form>
    </td>



    <br>
    <td><a class="glowing-btn glowing-txt to-left "href="{{ path('school_create') }}">Ajouter un site</a></td>
    </div>
{% endblock %}