{% extends 'base.html.twig' %}

{% block title %}Modifier {{ user.pseudo }} - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="form-container">
    <h1>Modifier les infos utilisateur de : {{ mail }}</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <br>
    <button class="glowing-btn glowing-txt to-left">Valider</button>
    {{ form_end(form) }}
    <br>
    <br>
    <br>
    <a class="glowing-btn glowing-txt to-left" href="{{ path('user_index') }}">Retour à la liste d'utilisateurs</a>
        </div>
    </div>
{% endblock %}