{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <div class="container">
        <div class="form-container">
    <h1>Modifier les infos utilisateur de: {{ mail }}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <br>
    <button class="glowing-btn glowing-txt to-left">Valider</button>
    {{ form_end(form) }}

    <br>
    <br>
    <br>
    <a class="glowing-btn glowing-txt to-left" href="{{ path('user_index') }}">back to list</a>
        </div>
    </div>
{% endblock %}
