{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs - {{ parent() }}{% endblock %}

{% block body %}

    <div>
        <form action={{ path('user_index') }} method="GET" name="Formulaire">
            Recherche par nom: <input name="Research" type="text" id="Research" size="30">
            <input type="submit" value="Recherche">
        </form>
    </div>

    <h1>Liste des utilisateurs inscrits</h1>


    <div>
        {% for user in users %}
        <div>
            <div>{{ user.surname }} {{ user.name }}</div>
            <div>{{ user.email }}</div>
            <div>{{ user.phone }}</div>
            <div>ID : {{ user.id }} {{ 'ROLE_ADMIN' in user.roles ? '( Administrateur )' : '' }}</div>
            <div>
                <a href="{{ path('user_show', {'id': user.id}) }}">Voir</a>
                <a href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a>
                <a href="{{ path('user_delete', {'id': user.id}) }}">Supprimer</a>
            </div>
        </div>
        {% endfor %}
    </div>

    <a href="{{ path('user_create') }}">Créer un nouvel utilisateur</a>
{% endblock %}