{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}

    <div>
        <a href="{{ path('user_index') }}">Home</a>
        <a href="{{ path('user_create') }}">Create new User</a>
    </div>


    <div>
        <form action={{ path('user_index') }} method="GET" name="Formulaire">
            Recherche par nom: <input name="Research" type="text" id="Research" size="30">
            <input type="submit" value="Recherche">
        </form>
    </div>

    <h1>Liste des utilisateurs</h1>

    <div>
        {% for user in users %}
        <div>
            <div>{{ user.surname }} {{ user.name }}</div>
            <div>{{ user.phone }}</div>
            <div>{{ user.email }}</div>
            <div>ID : {{ user.id }} {{ 'ROLE_ADMIN' in user.roles ? 'Administrateur' : '' }}</div>
            <div>
                <a href="{{ path('user_show', {'id': user.id}) }}">show</a>
                <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                <a href="{{ path('user_delete', {'id': user.id}) }}">delete</a>
            </div>
        </div>
        {% endfor %}
    </div>

    <a href="{{ path('user_create') }}">Create new User</a>
{% endblock %}