{% extends 'base.html.twig' %}

{% block title %}Créer un utilisateur - {{ parent() }}{% endblock %}

{% block body %}

<div class="container">
    <h1>Créer un nouvel utilisateur</h1>
    {{ form_start(form) }}
    <br>
    {{ form_row(form.isAdmin) }}
    {{ form_widget(form) }}
    <br>
    <button class="glowing-btn glowing-txt to-left">Valider</button>
    {{ form_end(form) }}
    <br>
    <br>
    <br>
    <a class="glowing-btn glowing-txt to-left" href="{{ path('user_index') }}">Retour à la Liste</a>
</div>
{% endblock %}