{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <div class="container">
        <div class="form-container">
        <h1>Voir un utilisateur</h1>

    <div>
        <div>Nom: {{ user.surname?user.surname:'No Surname' }}</div>
    </div>
        <br>
    <div>
        <div>Prénom: {{ user.name?user.name:'No name' }} </div>
    </div>
        <br>
    <div>
        <label for="user_school">Ecole de rattachement: </label>
        <a class="button is-primary is-outlined" id="user_school" target="_blank"  href="https://www.google.fr/maps?q={{ user.school.latitude }},{{ user.school.longitude }}">Voir {{ user.school.name }} sur la carte</a>
    </div>
        <br>
    <div>
        <div>Téléphone: {{ user.phone?user.phone:'No known phone' }}</div>
    </div>
        <br>

    <div>
        <div>Email: {{ user.email }}</div>
    </div>
    <br>

    <a class="button is-primary is-outlined" href="{{ path('user_index') }}">Retour à la Liste</a>

    <a class="button is-warning is-outlined" href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a>

    <div> {{ include('user/_delete_form.html.twig') }}</div>
    </div>
    </div>
{% endblock %}
